/*voorbeeld 10.3 ROOT*/

:root {
    --main-bg-color: hsl(184, 80%, 91%);
    --main-icon-color: #D84282;
}

body {
    background-color: var(--main-bg-color);
}

/*voorbeeld 10.1 Driekhoek*/
#driehoek {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid black;
}

/*opdracht 10.1 Driekhoek*/
#driehoek-2 {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid black;
}

/*voorbeeld 10.2 List items*/

ul li a {
    color: #D84282;
}

ul li a::after {
    display: inline-block;
    content: "→";
}

/*voorbeeld 10.2 Wolkje*/
#talkbubble {
    margin-left: 20px;
    width: 120px;
    height: 80px;
    background-color: #D84282;
    position: relative;
    border-radius: 10px;
}

#talkbubble::before {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 20px solid #D84282;
    border-bottom: 13px solid transparent;
}

/*voorbeeld oefening 10.4 transitie*/

#gestreepte-link,
#gestreepte-link:link,
#gestreepte-link:visited {
    font-family: helvetica, sans-serif;
    font-size: 30px;
    color: #D84282;
    text-decoration: none;
}

/* BEGIN STAAT */
#gestreepte-link::after {
    display: block;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #D84282;
    transition: width .35s ease-in-out;
}

/* EIND STAAT */
#gestreepte-link:hover::after {
    /* alle andere properties worden behouden, we overschrijven alleen de width property */
    width: 100%;
}


/*OPDRACHT 10.5*/

#menu {
    position: relative;
    width: 150px;
    height: 100px;
    background-color: var(--main-icon-color);
}

#menu:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 20px;
    width: 150px;
    height: 20px;
    background-color: var(--main-bg-color);
}

#menu:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 60px;
    width: 150px;
    height: 20px;
    background-color: var(--main-bg-color);
}